{% extends 'blogapp/base.html'%}

{% block page_title%}
<h2>Write Your New Blog Here...</h2>
{% endblock %}

{% block page_content %}
<body>
    <form method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit" style="width: 100%;">create Blog</button>
    </form>
</body>


<!-- 
<form method="post">
    {% csrf_token %}
    
    {{ form.title }}
    {{ form.body }}
    {{ form.custom_category }}
    
    <label for="{{ form.categories.id_for_label }}">Categories:</label>
    {% for category in form.categories %}
        <div>
            {{ category.name }}
        </div>
    {% endfor %}
    
    <button type="submit">Create Blog</button>
</form> -->
{% endblock %}