{% extends "blogapp/base.html" %}

{% block page_title%}
<h1>hello, {{user}}</h1>
<h2>Blog Posts</h2>

{%endblock page_title%}

{% block page_content %}
<h4><a href="{% url 'add-blog' %}"><button>want to write a Blog?</button></a></h4>
{% block posts %}
{% if not posts %}
<h3>oops.. no blogs yet want to create one? </h3>
{% else %}
{% for post in posts %}
<h3><a href="{% url 'blog_detail' post.pk %}">{{post.title}}</a></h3>
<small>
    {{post.created_on.date}}| Categories:
    {% for category in post.categories.all %}
    <a href="{% url 'blog_category' category.name %}">
        {{category.name}} &nbsp;
    </a>
    {% endfor %}
</small>

<small>Written By:- {{post.created_by}}</small>
<p>{{post.body| slice:":400"}}...<a href="{% url 'blog_detail' post.pk %}">read more</a></p>

{% endfor %}

{%endif%}

{% endblock posts %}
{% endblock page_content %}