{% extends "blogapp/base.html" %}

{% load crispy_forms_tags %}
{% block page_content%}

<body>
    <div>
        <form method="POST" style="text-align: center; margin-top: 30%;">
            <!-- {{form|crispy}} -->
            {%csrf_token%}
            <br>
            {{form.username|as_crispy_field}}
            <br>
            {{form.password|as_crispy_field}}
            <br>
    
    
            <button type="submit" style="width: 35%;">login</button>
        </form>
    </div>
  
    <a href="{% url 'register' %}" style="text-align: center; margin-top: 20px; text-decoration: none;">don't have an account?</a>
</body>
{% endblock %}